---
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import ArrowCard from "@components/ArrowCard"
import StackCard from "@components/StackCard.astro"
import { SITE, SOCIALS } from "@consts"
import TwinklingStars from "@components/TwinklingStars.astro"
import MeteorShower from "@components/MeteorShower.astro"

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0,3)

const stack = [
  { 
    text: "Astro", 
    icon: "astro", 
    href: "https://astro.build" 
  },
  { 
    text: "Javascript", 
    icon: "javascript", 
    href: "https://www.javascript.com" 
  },
  { 
    text: "Typescript", 
    icon: "typescript", 
    href: "https://www.typescriptlang.org" 
  },
  { 
    text: "Tailwind", 
    icon: "tailwind", 
    href: "https://tailwindcss.com" 
  },
]
---

<PageLayout title="Home" description={SITE.DESCRIPTION}>

  <!-- Light Mode: Particles -->
  <div class='absolute inset-0 block dark:hidden'>
    <div id='particles1' class='fixed inset-0'></div>
    <div id='particles2' class='fixed inset-0'></div>
    <div id='particles3' class='fixed inset-0'></div>
  </div>

  <!-- Dark Theme: Stars -->
  <div class='absolute inset-0 bg-black hidden dark:block'>
    <div id='stars1' class='fixed inset-0'></div>
    <div id='stars2' class='fixed inset-0'></div>
    <div id='stars3' class='fixed inset-0'></div>
  </div>

  <!-- Dark Theme: Twinkling Stars / Metors -->
  <div id="galaxy" class="fixed inset-0">
    <div class="hidden dark:block">
      <TwinklingStars/>
      <MeteorShower/>
    </div>
  </div>

  <script is:inline src="/js/bg.js"></script>
  
  <!-- HERO -->
  <section class="relative h-screen w-full">
    
    <div id="planetcont" class='animate absolute inset-0 top-1/4 overflow-hidden'>
      <div id="crescent" class='absolute top-0 left-1/2 -translate-x-1/2 w-[250vw] min-h-[100vh] aspect-square rounded-full p-[1px] bg-gradient-to-b from-black/25 dark:from-white/75 from-0% to-transparent to-5%'>
        <div id="planet" class='w-full h-full bg-white dark:bg-black rounded-full p-[1px] overflow-hidden flex justify-center'>
          <div id="blur" class='w-full h-20 rounded-full bg-neutral-900/25 dark:bg-white/25 blur-3xl'/>
        </div>
      </div>
    </div>
    
    <div class="animate absolute h-full w-full flex items-center justify-center">
      <div class="imagen-circular" style="width: 200px; height: 200px; overflow: hidden; border-radius: 50%;">
        <img src="/src/images/FB_IMG_1719413905668.jpg" alt="Descripción de la imagen" style="width: 100%; height: 100%; object-fit: cover;">
     </div>
      </div>
      <div class='relative w-full h-full flex items-center justify-center'>
        <div class="absolute inset-x-0 bottom-10 flex justify-center w-full">
        <div class='p-5 text-center'>
          <p class='animated text-lg md:text-xl lg:text-2xl font-semibold opacity-75'>
            Hello, I am Andrea Salcedo
          </p>
          <p class='animated text-2xl md:text-3xl lg:text-4xl font-bold uppercase text-black dark:text-white'>
            Robotics and Digital Systems Engineer
          </p>
          <p class='animated text-sm md:text-base lg:text-lg opacity-75'>
            Currently working as Computer Vision Engineer.
          </p>
          <div id="ctaButtons" class='animated flex flex-wrap gap-4 justify-center mt-5'>
            <a href='/work' class='py-2 px-4 truncate rounded text-xs md:text-sm lg:text-base border border-black/25 dark:border-white/25 hover:bg-black/5 hover:dark:bg-white/15 blend'>
              View my work
            </a>
          </div>
        </div>
      </div>
    </div>

  </section>



  <div class="relative bg-white dark:bg-black">
    <div class="mx-auto max-w-screen-sm p-5 space-y-24 pb-16">

      <!-- About Section -->
      <section class="animate">
        <article>
          <p>I am a <b><i>robotics and digital systems engineer</i></b>, <b><i>software developer</i></b>, <b><i>computer vision programmer</i></b>, <b><i>student</i></b> and <b><i>technology enthusiast</i></b>.</p>
          <p>I love to learn new things. I am motivated by challenging projects with self-guided research and dynamic problem solving. My true passion is coding to create new things.</p>
          <p>During my career</p>
          <p>I have developed different robotics system, focusing in vision systems using different maching learning methods and traditional ways.</p>
          <p>Now</p>
          <p>I currently work as a Computer Vision Intern at Super Robotics, where I do design and development.</p>
        </article>
    <div class="flex justify-center mt-8">
    
    <div class="flex space-x-4">
      <div class="w-300 h-300 overflow-hidden rounded-lg">
        <img src="src/pages/IMG-20230810-WA0022.jpg" alt="Technical Training at AIST" class="w-full h-full object-cover">
      </div>
      <div class="w-300 h-300 overflow-hidden rounded-lg">
        <img src="/images/foto5.jpg" alt="Working with an XArm" class="w-full h-full object-cover">
      </div>
      <div class="w-300 h-300 overflow-hidden rounded-lg">
        <img src="src/pages/roborregos.jpg" alt="Roborregos @Home competition 2022" class="w-full h-full object-cover">
      </div>
    </div>
  </div>
        <!-- Primer fila de fotos -->
  <div class="flex justify-center mt-8">
    <div class="flex space-x-4">
      <div class="w-300 h-300 overflow-hidden rounded-lg">
        <img src="src/pages/20240610_175653.jpg" alt="Presentation of the autonomous navigation and manipulation robot" class="w-full h-full object-cover">
      </div>
      <div class="w-300 h-300 overflow-hidden rounded-lg">
        <img src="src/pages/20240626_173129.jpg" alt="LiFE Awards from Tecnologico de Monterrey" class="w-full h-full object-cover">
      </div>
      <div class="w-300 h-300 overflow-hidden rounded-lg">
        <img src="src/pages/IMG-20240625-WA0190.jpg" alt="Gallagher Foundation Scholarship" class="w-full h-full object-cover">
      </div>
    </div>
  </div>
      </section>

      <!-- Project Preview Section -->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Recent projects
            </p>
            <a href="/projects" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                All projects
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))}
          </ul>
        </div>
      </section>

      <!-- Contact Section -->
      <section class="animate">
        <div>
          <p class="font-semibold text-black dark:text-white">
            Let's Connect
          </p>
          <p>
            Reach out to me via email or on social media.
          </p>
          <div class="grid grid-cols-4 gap-y-2 mt-4 auto-cols-min">
            {SOCIALS.map(social => (
              <div class="col-span-1 flex items-center gap-1">
                <span class="whitespace-nowrap truncate">
                  {social.NAME}
                </span>
              </div>
              <div class="col-span-3 truncate">
                <a href={social.HREF} target="_blank" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
                  <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                    {social.TEXT}
                  </span>
                </a>
              </div>
            ))}
        </div>
      </section>

      
    </div>
  </div>
</PageLayout>
